/* General container styling */
.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* List container styling */
.list-container {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}



  /* List items styling */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
  
  li:hover {
    background-color: #e9ecef;
  }
  
  /* Active list item styling */
  li.active {
    background-color: #007bff;
    color: white;
  }
  

.edit-button{
  display: inline-block;
  padding: 5px 20px;
  background: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.edit-button:hover{
  background: #2980b9;
}

.delete-button{
  display: inline-block;
  padding: 5px 20px;
  background: #d80404;
  color: rgb(235, 238, 233);
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.delete-button:hover{
  background: #bb385f;
}
.single-entry-button {
  display: inline-block;
  padding: 10px 20px;
  background: #1cc741;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.single-entry-button:hover {
  background: #2980b9;
}
  

.bulk-entry-button {
  display: inline-block;
  padding: 10px 20px;
  background: #4858e0;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.bulk-entry-button:hover {
  background: #2980b9;
}


.bulk-update-button {
  display: inline-block;
  padding: 10px 20px;
  background: #b91195;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.bulk-update-button:hover {
  background: #2980b9;
}