/* Company header styling */
.company-header {
    font-size: 26px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 15px;
    border-bottom: 2px solid #343a40;
    padding-bottom: 5px;
  }